@{
	ViewBag.Title = "Home Page";
}


<div class="container">
	<div class="row">

		<div class="col-md-10 col-lg-10">
			<div class="row">
				<div class="text-left">
					<input type="text" class="input-lg" placeholder="enter product code" autofocus />
				</div>
			</div>
			<p></p>
			<div class="row">
				<table class="table table-bordered" style="vertical-align:top;border-collapse:separate">
					<tr>
						<td>19827394287398472</td>
						<td>Nescafe 3 in 1 Original</td>
						<td>x 5</td>
						<td>35.75</td>
					</tr>

					<tr>
						<td>19827394287398472</td>
						<td>Nescafe 3 in 1 Original</td>
						<td>x 5</td>
						<td>35.75</td>
					</tr>

					<tr>
						<td>19827394287398472</td>
						<td>Nescafe 3 in 1 Original</td>
						<td>x 5</td>
						<td>35.75</td>
					</tr>
				</table>
			</div>

		</div>

		<div class="col-md-2 col-lg-2">
			<div class="text-right">
				<p>Amount Due</p>
				<p>
					<h1>
						<mark>
							25,750.75
						</mark>
					</h1>
				</p>
			</div>
		</div>

	</div>
	<div class="row">



	</div>
</div>